<!-- ######################################################## -->
<!-- # MODULE 10.6.1 - Customize the Appearance               -->
<!-- # MODULE CHALLENGE DELIVERABLES 1, 2 and 3               -->
<!-- ######################################################## -->


<!-- Create an HTML template to present the mars scraped data -->
<!-- This template will be called when we run our app.py file -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Add our custom title to the head -->
        <title>Mission to Mars</title>

        <!-- Add a link to access Bootstrap's components and use a stylesheet -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        

        <!-- WAS TRYING TO CHANGE HEADING 1 FONT IN JUMBOTRON TO GOOGLE FONTS "ORBITRON" -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
        <!---->
        
    </head>

    <!-- Mars News . For Deliverable 3, added a grey background -->

    <body>
        <style type="text/css">
            body { background: rgba(0,0,0,0.7) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
         </style>
        <!-- Add our first container for the body -->
        <div class="container">
            
            <!-- Add the heading using Jumbotron, one of Bootstrap's style 
                components. For Deliverable 3, added a background image too. -->
            <div 
                class="jumbotron text-center"
                style="background-image: url('https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/04/mars_landscape/21916769-2-eng-GB/Mars_landscape_pillars.jpg'); background-size: cover;" 
                >
                
                <h1 class="mb-3 h1">Mission to Mars</h1>
                <!--class="jumbotron text-center">
                -->


                <!-- Add the main text of the container -->
                <!--<h1>Mission to Mars</h1> -->

                <!-- Add a button using Bootstrap's primary button component 
                    and set the text of the button -->
                <p><a class="btn btn-primary btn-lg" href="/scrape"
                            role="button">Scrape New Data</a></p>
            </div>
            
            <!-- Add section for Mars News -->
            <!-- By adding a class of "row" we're telling Bootstrap 
                that we're about to use the grid system and everything 
                within this div will be horizontally aligned-->
            <div class="row" id="mars-news">
                <!-- add a tag that specifies how many columns this 
                    component will be using (in this case all 12)-->
                <div class="col-md-12">
                    <!-- add the media portion: the article 
                        and summary. This tells Bootstrap that we 
                        want our content to be displayed as media, 
                        and then we insert the media within the body 
                        (Bootstrap already has the custom CSS set up 
                        for these classes). -->
                    <div class="media">
                        <div class="media-body">
                            <!-- Aadd a second level header. 
                                For Deliverable 3, changed text color to white-->
                            <h2 style="color: white">Latest Mars News</h2>
                            <!-- Add the article we scraped where mars 
                                refers to the MongoDB database and news_title to the 
                                scraped variable that was stored. We use Bootstrap's
                                class "media-heading" to format this heading.
                                For Deliverable 3, changed text color to white-->
                            <h4 class="media-heading"
                            style="color: white">{{ mars.news_title }}</h4>
                            <!-- Add the article summary that was scraped using 
                                a default text style. 
                                For Deliverable 3, changed text color to white-->
                            <p style="color: white">{{ mars.news_paragraph }}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Section for Featured Image and Facts table -->
            <div class="row" id="mars-featured-image">
                
                <!-- Use the first 8 columnnes to show the image.
                    For Deliverable 3, changed text color to white -->
                <div class="col-md-8">
                    <h2 style="color: white">Featured Mars Image</h2>
                    <!-- Insert image using Bootstrap's responsive
                    component so that it resizes automatically 
                    based on the browser window size, and a text
                    in case the image cannot be loaded (i.e. and 
                    alt text)-->
                    <img
                        src="{{mars.featured_image }}"
                        class="img-responsive"
                        alt="Responsive image"
                    />
                </div>
                
                <!-- Use the remaining 4 columns (out of the 12 total 
                    in a Bootstrap gird) to show the mars facts -->
                <div class="col-md-4">
                    <!-- Mars Facts 
                        For Deliverable 3, changed text color to white-->
                    <div class="row" id="mars-facts" style="color: white">
                        <h4 style="color: white">Mars Facts</h4>
                        <!-- Add code to reference the facts table in 
                         the mars document and tell the web browser that
                         this code doesn't contain anything maliciuous -->
                         {{ mars.facts | safe }}
                    </div>
                </div>
            </div>
            <!-- Add the hemisphere images 
                For Deliverable 3, changed text color to white-->
            <div class="row" id="mars-hemispheres">
                <h2 style="color: white">
                    <center>Mars Hemispheres</center>
                </h2>
                {% for hemisphere in mars.hemispheres %}
                    <div class="col-md-6">
                        <img 
                            src="{{ hemisphere.img_url }}" 
                            class="img-responsive"
                            alt="Responsive image"
                        />
                        <h5 class="image_title"
                        style="color: white">{{ hemisphere.title }}</h5> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>